@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Midnight Snack';
    font-weight: 400;
    font-display: auto;
    src: url('/fonts/MIDNSBRG.TTF');
  }
  @font-face {
    font-family: 'Ready For Anything';
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/ReadyforAnythingBB-Regular.ttf');
  }
  @font-face {
    font-family: 'Ready For Anything';
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/ReadyforAnythingBB-Bold.ttf');
  }
  @font-face {
    font-family: 'Sequentialist';
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/unused/SequentialistBB.ttf');
  }
}

.home-container {
  @apply bg-gray-600 p-4 w-screen h-screen flex items-center justify-center tracking-tight;
  font-family: 'Ready For Anything';
}

.home-grid {
  @apply grid grid-cols-6 w-full h-full gap-4 max-w-screen-md;
  grid-template-rows: repeat(12, minmax(0, 1fr));
}

.header {
  @apply col-span-6 flex justify-start items-center;
  font-family: 'Midnight Snack';
  color: #D3D3D3;
  text-shadow: 6px 6px 0px #404040, 7px 7px 0px #404040, 8px 8px 0px #404040, 9px 9px 0px #404040; 
}

.scan {
  @apply col-span-5 bg-gray-400;
  grid-row: span 8 / span 8;
  font-weight: 700;
}

.text {
  @apply col-span-6;
  grid-row: span 4 / span 4;
}

.text > * {
  @apply w-1/2 p-2 rounded-xl text-sm sm:text-lg leading-tight tracking-tight bg-gray-100;
  line-height: 1.35rem !important;
}

.easy-edit-textarea {
  @apply w-1/2 p-2 rounded-xl leading-tight tracking-tight bg-gray-100;
  min-height: 180px !important;
  min-width: 320px;
  max-width: 45vw;
  line-height: 1.35rem !important;
}

.buttons {
  @apply row-span-3 col-span-1 flex flex-col justify-around;
}

button {
  @apply border-2 border-dashed rounded-xl text-white py-1 px-2 w-full inline-flex items-center transform transition duration-300 hover:animate-pulse;
}

.previous {
  @apply bg-gray-500 col-span-1 items-center flex flex-col;
  grid-row: span 5 / span 5;
}

