@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Midnight Snack';
    font-weight: 400;
    font-display: auto;
    src: url('/fonts/MIDNSBRG.TTF');
  }
  @font-face {
    font-family: 'Ready For Anything';
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/ReadyforAnythingBB-Regular.ttf');
  }
  @font-face {
    font-family: 'Ready For Anything';
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/ReadyforAnythingBB-Bold.ttf');
  }
  @font-face {
    font-family: 'Sequentialist';
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/unused/SequentialistBB.ttf');
  }
}

.home-container {
  @apply bg-gray-600 p-4 w-screen h-screen flex items-center justify-center tracking-tight;
  font-family: 'Ready For Anything';
}

.home-grid {
  @apply grid grid-cols-6 w-full h-full gap-4 max-w-screen-md;
  grid-template-rows: repeat(12, minmax(0, 1fr));
}

.header {
  @apply col-span-6 flex justify-start items-center;
  font-family: 'Midnight Snack';
  color: #D3D3D3;
  text-shadow: 6px 6px 0px #404040, 7px 7px 0px #404040, 8px 8px 0px #404040, 9px 9px 0px #404040; 
}

.buttons {
  @apply row-span-2 col-span-2 flex flex-col justify-between;
}

.image {
  @apply col-span-4 bg-gray-400 flex p-4 justify-center items-center;
  grid-row: span 9 / span 9;
  font-weight: 700;
}

.text {
  @apply col-span-6;
  grid-row: span 3 / span 3;
}

.last-five {
  @apply rounded-xl border-2 col-span-2 flex justify-center items-center;
  grid-row: span 7 / span 7;
}

button {
  @apply border-2 border-dashed rounded-xl text-white font-bold py-1 px-2 w-full inline-flex items-center transform transition duration-300 hover:scale-105;
}
