@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Midnight Snack';
    font-weight: 400;
    font-display: auto;
    src: url('/fonts/MIDNSBRG.TTF');
  }
  @font-face {
    font-family: 'Ready For Anything';
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/ReadyforAnythingBB-Regular.ttf');
  }
  @font-face {
    font-family: 'Ready For Anything';
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/ReadyforAnythingBB-Bold.ttf');
  }
  @font-face {
    font-family: 'Sequentialist';
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/unused/SequentialistBB.ttf');
  }
}

.home-container {
  @apply bg-gray-600 p-4 w-screen h-screen flex items-center justify-center tracking-tight;
  font-family: 'Ready For Anything';
}

.home-grid {
  @apply grid grid-cols-6 w-full h-full gap-4 max-w-screen-md;
  grid-template-rows: repeat(12, minmax(0, 1fr));
}

.header {
  @apply col-span-6 flex justify-between items-center;
}

.logo {
  font-family: 'Midnight Snack';
  color: #D3D3D3;
  text-shadow: 6px 6px 0px #404040, 7px 7px 0px #404040, 8px 8px 0px #404040, 9px 9px 0px #404040;
}

.scan {
  @apply col-span-5 bg-gray-400;
  grid-row: span 7 / span 7;
  font-weight: 700;
}

.scan > *:not(.message) {
  /* max-width: 50vh; */
  max-height: 50vh;
}

.text {
  @apply col-span-6;
  grid-row: span 5 / span 5;
}

.text > *:not(.language) {
  @apply w-1/2 p-2 sm:p-3 rounded-xl text-xs sm:text-lg leading-none sm:leading-tight tracking-tight bg-gray-100;
}

.easy-edit-textarea {
  @apply p-2 sm:p-3 rounded-xl leading-none sm:leading-tight tracking-tight bg-gray-100;
  height: 24vh !important;
  max-width: 340px !important;
  width: 39vw;
  line-height: 1em !important;
}

.buttons {
  @apply row-span-3 col-span-1 flex flex-col justify-around;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

button {
  @apply border-2 border-dashed rounded-xl text-white py-1 px-2 w-full inline-flex items-center justify-center sm:justify-between transform transition duration-300 hover:animate-pulse;
}

.previous {
  @apply bg-gray-500 col-span-1 items-center flex flex-col;
  grid-row: span 4 / span 4;
}
